.App {
  text-align: center;
}

a {
  color: #444;
  text-decoration: none;
}
a:hover, a:focus {
  color: orange;
  text-decoration: none;
}

/*html{
  height: 100%;
  --map_container-width: 100%;
  --nav_container-width: 30%;
}*/

/* ====================== Header Bar ====================== */

.App-header {
  width: 100%;
  height: auto;
  background-color: #69a7de;
  color: #fff;
  display: block;
}

.header-title {
  font-size: 1.5em;
  padding: 10px;
  padding-bottom: 3px;
  margin: 0;
  text-transform: uppercase;
}

header a {
  color: #fff;
}

.header-btn {
  margin: 0 15px;
}

.intro-btn,
.list-btn {
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 5px;
  background: #fff;
  color: #444;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

.intro-btn:hover,
.list-btn:hover {
  background: #ffcc88;
}

/* ====================== Intro Div ====================== */

.intro-section {
  z-index: 2;
  position: absolute;
  max-width: 500px;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 20px;
  display: block;
  background: whitesmoke;
}

.intro-title {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-image: url('./icons/cancel.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.intro-synopsis {
  font-size: 0.9em;
  overflow: hidden;
  max-height: 400px;
}

.intro-detail {
  cursor: pointer;
  font-size: 0.85em;
  color: #15c;
  text-decoration: none;
}
.intro-detail:hover{
  text-decoration: underline;
}

/* ====================== Map ====================== */

main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
}

#map {
  background-color: #ccc;
  width: 100%;
  height: 100vh;
}

#map-container {
    width: 100%;
  }

/* ====================== Nav Bar ====================== */

.list-locations {
}

.search-locations {
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.search-locations-input {
  width: 100%;
  padding: 5px 20px 5px 50px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1em;
  border: 0;
  outline: none;
}

.showing-locations {
  color: #5e84a3;
  text-align: center;
  margin: 5px 0;
  font-size: 0.8em;
}
.showing-locations button {
  color: #444;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.location-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.location-list-item {
  background: white;
  display: flex;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.location-list-item:hover {
  color: orange;
}

.location-title {
  font-size: 0.9em;
  margin: 5px;
  flex: 1;

  /*overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
}

/* ====================== Info Window ====================== */

.venueName {
  font-size: 1.2em;
  font-weight: 600;
}

/* ====================== Footer ====================== */

#footer {
  background-color: #6084a2;
  color: #fff;
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Aria ====================== */

.aria-label {
  display: none;
}

/* ====================== Responsive ====================== */
@media screen and (max-width: 380px) {
  #map {
    height: calc(100vh - 176px);
  }
}

@media screen and (min-width: 380px) {
  #map {
    height: calc(100vh - 148px);
  }
}

@media screen and (min-width: 450px) {
  .header-title {
    padding: 15px;
  }
  .intro-section {
    margin: 20px 40px;
  }
  #map {
    height: calc(100vh - 165px);
  }
}

@media screen and (min-width: 530px) {
  #map {
    height: calc(100vh - 152px);
  }
}

@media screen and (min-width: 560px) {
  html{
    --map_container-width: 60%;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  #map-container {
    /*width: 60%;*/
    width: var(--map_container-width);
  }
  #nav-container {
    width: 40%;
  }
  .search-locations-input {
    padding: 10px 20px 10px 50px;
  }
  .location-title {
    margin: 10px;
  }
}

@media screen and (min-width: 600px) {
  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intro-section {
    margin: 40px 50px;
  }
  main {
    flex-direction: row;
  }
  #map {
    height: calc(100vh - 111px);
  }
  #footer {
    padding: 20px;
  }
}

@media screen and (min-width: 700px) {
  html{
    --map_container-width: 70%;
  }
  .intro-btn,
  .list-btn {
    font-size: 1em;
  }
  #map-container {
    /*width: 70%;*/
    width: var(--map_container-width);
  }
  #nav-container {
    width: 35%;
  }
  .search-locations-input {
    background-size: 1.5em;
    font-size: 1.2em;
    padding: 12px 20px 12px 50px;
  }
  .location-title {
    margin: 12px;
    /*font-size: 1em;*/
  }
}

@media screen and (min-width: 800px) {
  .header-title {
    font-size: 2em;
  }
  #map {
    height: calc(100vh - 121px);
  }
}

@media screen and (min-width: 950px) {
  html{
    --map_container-width: 75%;
  }
  .intro-btn,
  .list-btn {
    font-size: 1.2em;
  }
  #map-container {
    /*width: 75%;*/
    width: var(--map_container-width);
  }
  #nav-container {
    width: 25%;
  }
  .search-locations-input {
    font-size: 1.3em;
  }
  .location-title {
    /*font-size: 1.1em;*/
  }
}
